<?xml version="1.0"?>

<model>
  <name>Road Double Yellow Vertical</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>SMILE Mobile</name>
    <email>dylanwraith@gmail.com</email>
  </author>

  <description>
    A vertical road with a double yellow line dividing lanes.
  </description>
</model>
